<?xml version="1.0" encoding="UTF-8"?><configuration>
    
  <configSections>
        
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
      
  </configSections>
    
  <appSettings>
        
    <add key="aspnet:bhardwajji" value="300000234"/>
        
    <add key="AllowedIPAddresses" value="192.168.0.5"/>
        
    <add key="redis_host" value="localhost"/>
        
    <add key="redis_port" value="6379"/>
        
    <add key="redis_connection" value="sumitbhardwacompany.redis.cache.windows.net:6384,password=sumitbhardwaj,ssl=True,abortConnect=False"/>
        
    <add key="sourceFolder" value="C:\Users\sumit.re\Downloads"/>
        
    <add key="intialFolder" value="blobstorage"/>
        
    <add key="myBlobContainer" value="development"/>
        
    <add key="fileStorageType" value="3"/>
        
    <add key="IsSkipEncryption" value="false"/>
        
    <add key="windowsVersion" value="2.0.80339.45134"/>
        
    <add key="IsJmrFileUload" value="false"/>
        
    <add key="IsTLS12Enabled" value="false"/>
        
    <add key="WindTimeOut" value="15000"/>
      
  </appSettings>
    
  <connectionStrings>
        
    <add name="AzureBlobStor" connectionString="fkdknokdfnv"/>
      
  </connectionStrings>
  
</configuration>
